#container {
  display: grid;
  grid-template-rows: 2% 96% 2%;
}

#header {
  height: 100%;
  font-size: 16px;
}

.header-title {
  margin: 4%;
}

.menu-icons {
  margin: 5% 4% 4% 4%;
  font-size: 1.4em;
}

.information {
  grid-template-areas:
    "ai ai"
    "a nl";
  grid-column-gap: 4%;
}

.authors {
  flex-direction: row;
  justify-content: space-between;
}

.author-image {
  width: 5em;
  height: 5em;
  margin: 0.5em;
}

.card {
  padding: 5%;
}

.article-section {
  flex-direction: column;
  text-align: center;
}

.article-image {
  width: 15em;
  height: 5em;
}

#footer {
  align-items: center;
}
